<footer class="foooter">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4 id="t"><img src="../../../assets/tree.png" alt="" id="tree"> __GREEN BASKET__</h4>
                <ul id="green">
                    <li>For any suggestions,queries,complaints</li>
                    <li><i class="fa fa-mobile"></i> 9074736138</li>
                    <li><i class="fa fa-envelope"></i> support@greenbasket.in</li>
                    <li><i class="fa fa-map-marker"></i> Crown Plaza,M.G Road,Kerala 682006</li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>INFO PAGES</h4>
                <ul>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Refund Policy</a></li>
                    <li><a href="#">Shipping Policy</a></li>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">FAQs</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>TOP CATEGORIES</h4>
                <ul>
                    <li><a href="#">Seeds</a></li>
                    <li><a href="#">Plants</a></li>
                    <li><a href="#">Garden Plants</a></li>
                    <li><a href="#">Pots&Stands</a></li>
                    <li><a href="#">Soil&Fertilisers</a></li>
                    <li><a href="#">AgricultureAccessories</a></li>

                </ul>
            </div>
            <div class="footer-col">
                <h4>LICENSE DETAILS</h4>
                <ul>
                    <li>GST:32AEIPL107A234</li>
                    <li>MSME:UDTHJ-KL-06-0099865</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
