header{
    background-color:transparent;
    padding-bottom: 1%;
    background-color:#173c2b;


}

#cart{
    margin-left: 100%;
    font-size: 150%;
    color: white;
    
}
#image{
    background-color:#173c2b;
    width: 5%;
    margin-top: 0%;
    margin-bottom: -3%;
}
#green{
    color: white;
    margin-left: -2%;
}
#login{
    color: white;
    margin-left: 88%;
}