.header{
    padding-bottom: 0%;
    background-color:#173c2b;
    margin-top: -1%;


}
ol{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    color: rgb(45, 105, 29);
    margin-left: -2%;
    font-size: 74%;
    cursor: pointer;
}
.contact{

}
#faq{
    margin-left: 65%;
    cursor: pointer;
}
.container{

}
#cart{
    margin-left: 202%;
    font-size: 150%;
    color: white;
    cursor: pointer;
    
}
#image{
    background-color:#173c2b;
    width: 5%;
    margin-top: -2%;
    margin-left: 3%;
    margin-bottom: -7%;
}
#green{
    color: white;
    margin-left: 1%;
    z-index: 5;
    margin-top: -21;
}
#about
{
margin-left: -15%;
cursor: pointer;
}
#login{
margin-left: 23%;
color: white;
text-decoration: none;
cursor: pointer;
}

ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    color: white;
    margin-left: 80%;

}

@media(max-width:100%){
    .header{
        width: 50%;
        margin-bottom: 30px;
    }

}