
<header>
    <div class="container">
            <img src="../../../assets/tree.png" alt=""  id="image">
            <!-- <label for="image" id="login">LOGIN</label>
            <i class="fa fa-thin fa fa-cart-shopping" id="cart" ></i> -->
            <ul>
                <li>ABOUT US</li>&nbsp;&nbsp;
                <li>LOGIN</li>
                <li><i class="fa fa-thin fa fa-cart-shopping" id="cart" ></i></li>
            </ul>
            <label for="image" id="green">GREEN BASKET</label>
    </div>
</header>
