<header>
    <div class="contact">
        <ol>
            <li><i class="fa fa-mobile"></i> 9074736139</li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li><i class="fa fa-envelope"></i> support@greenbasket.in</li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li><i class="fa fa-map-marker"></i> All India Delivery Free!</li>
            <li id="faq">FAQs</li>
        </ol>
    </div>

    <div class="header">
        <img src="../../../assets/tree.png" alt="" id="image" routerLink="/">
        <ul>
            <li id="about" routerLink="/about-us">ABOUT</li>&nbsp;
            <li id="login" routerLink="/login">{{user}}</li>
            <li id="logout" *ngIf="isLogin">
                <button (click)="logout()" class="btn btn-outline-success">Logout</button>
            </li>

            <li><i class="fa fa-thin fa fa-cart-shopping" id="cart" (click)="cart()"></i></li>
            <div id="badge" class="badge bg-success">{{totalItemNumber}}</div>
            

        </ul>
        <label for="image" id="green">GREEN BASKET</label>
    </div>
    
</header>