<!-- header -->
<app-header></app-header>

<!-- carousel -->

<section>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="4000">
                <img src="../../../assets/carousel2.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="bannerh1">
                        <span>
                            Sale 20% Off
                        </span>
                        <br>
                        On Everything
                    </h1>
                    <p>Some representative placeholder content for the first slide.</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="4000">
                <img src="../../../assets/carousel2.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="bannerh2">
                        <span>
                            Sale 20% Off
                        </span>
                        <br>
                        On Everything
                    </h1>

                    <p>Some representative placeholder content for the second slide.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</section>

<!-- categories -->

<app-category></app-category>

<!-- searchBar -->

<app-search></app-search>

<!-- if is not available -->
<!-- <app-not-found [visible]="!items || items.length <=0" resetLinkText="Reset Search"></app-not-found> -->


<!--list items -->
<ul>
    <li *ngFor="let item of datas">
        <a >
            <img src="{{item.image}}" routerLink="/item/{{item.id}}" alt="item images">
            <div class="content">
                <div class="name">
                    {{item.name}}
                </div>
                <star-rating [value]="item.rating" [totalstars]="5" checkedcolor="#ff424d" uncheckedcolor="grey" size="24px"
                    [readonly]="true">
                </star-rating>
            </div>
            <div class="price">
                {{item.price|currency:"$"}}
            </div>
            <div>
                <button (click)="addToCart(item)">Add to Cart</button>
            </div>
        </a>
    </li>
</ul>


<app-footer></app-footer>

