<div class="us">
    <div class="color">
        <div class="block">
            <label for="" id="k">ABOUT US</label>
            <p id="paragraph">We – Green Planet is a team of qualified Doctors, Software Engineers, Scientists, and
                experienced Agronomists working to make our planet a greener and healthier place on which we live. Green
                Planet Group committed to remove the “Hidden Hunger” from the world and started a Mission “Save the Mother
                Earth”. The need of time is to convert the Green Revolution into an “Evergreen Revolution” by mainstreaming
                the principle of ecology in technology development.
                This mission is to participate all Indians to make India leader in agriculture in agriculture, empower rural
                communities, promote healthy life style for rural as well as urban other & at the same time, create
                financial opportunities for our members and associates through exceptional services, best available science
                and management. It will bring together progressive farmers, scientists, administrators and entrepreneurs on
                a common platform as a mean for farmers to share ideas, exchange perspectives and learn from each.
                We’re sharing some glimpses of the successful moments of this mission through activities, events,
                achievements & the pathway that we moved on from the very beginning to till now in reverse chronological
                order.</p>
        </div>
    </div>
</div>
<!-- <div id="about">
    <div class="row" >
        <div class="col-md-3">
            <ul>
                <li><i class="fa fa-truck">FREE DELIVERY</i></li>
                <li>Gaurnteed free home delivery for orders above 500rs</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <ul>
                <i class="fa fa-thumbs-up">GOOD QUALITY</i>
                <li>We ensure good and fresh quality products</li>
    
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <ul>            
                <i class="fa fa-refresh">24*7 SERVICES</i>
                <li>We provide 24*7 services to customer.</li>
            </ul>
        </div>
    </div>

</div> -->
