<div class="us">
    <div class="color">
        <div class="block">
            <label for="" id="k">ABOUT US</label>
            <p id="paragraph">We – Green Planet is a team of qualified Doctors, Software Engineers, Scientists, and
                experienced Agronomists working to make our planet a greener and healthier place on which we live. Green
                Planet Group committed to remove the “Hidden Hunger” from the world and started a Mission “Save the
                Mother
                Earth”. The need of time is to convert the Green Revolution into an “Evergreen Revolution” by
                mainstreaming
                the principle of ecology in technology development.
                This mission is to participate all Indians to make India leader in agriculture in agriculture, empower
                rural
                communities, promote healthy life style for rural as well as urban other & at the same time, create
                financial opportunities for our members and associates through exceptional services, best available
                science
                and management. It will bring together progressive farmers, scientists, administrators and entrepreneurs
                on
                a common platform as a mean for farmers to share ideas, exchange perspectives and learn from each.
                We’re sharing some glimpses of the successful moments of this mission through activities, events,
                achievements & the pathway that we moved on from the very beginning to till now in reverse chronological
                order.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="box">
        <h2>01</h2>
        <h3>Service One</h3>
        <p>Free home delivery</p>
        <p>Bye to fuel reffiling!COD available for all our valuable customers.Delivery that is always on time.</p>
    </div>
    <div class="box">
        <h2>02</h2>
        <h3>Service Two</h3>
        <p>Product quality </p>
        <p>Business is not just doing deals; business is having great products, doing great engineering, and providing tremendous service to customers. </p>
    </div>
    <div class="box">
        <h2>03</h2>
        <h3>Service Three</h3>
        <p>24x7 services</p>
        <p>We are tailored to serve you.Quality in a service or product is not what you put into it. It is what the customer gets out of it.</p>
    </div>

</div>