<body>
    <div class="container col-md-12 mt-0">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Log In</h3>

                </div>
                <div class="card-body">
                    <!-- form group setting -->
                    <form [formGroup]="loginForm">


                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                            </div>
                            <input type="text" formControlName="username" class="form-control" placeholder="Username"
                                id="login_accno">

                        </div>

                        <!-- form validation -->
                        <div *ngIf="(this.loginForm.get('username')?.touched || this.loginForm.get('username')?.dirty) && this.loginForm.get('username')?.errors"
                            style="color: red;">Invaild Email</div>




                        <!-- <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="create userId" id="login_accno" >

                        </div> -->




                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" formControlName="password" class="form-control" placeholder="Password"
                                id="login_password">
                        </div>

                        <!-- form validation -->
                        <div *ngIf="(this.loginForm.get('password')?.touched || this.loginForm.get('password')?.dirty) && this.loginForm.get('password')?.errors"
                            style="color: red;">Invaild Password</div>



                        <div class="form-group">
                            <a type="submit" value="Login" (click)="login()" class="btn float-right login_btn "
                                style="width:50%;">Login</a>
                        </div>
                    </form>
                </div>
                <p style="color:white;align-items:baseline;">not a user? Please <a routerLink='/register'>Register</a>
                </p>
            </div>
        </div>
    </div>
</body>