<div class="row">
    <app-sidebar class="col-md-2"></app-sidebar>

    <div class="col-md-10">
        <div class="container mt-5">
            <table class="table mt-5">
               
              <thead class="table-dark">
                 <tr>
                   <th scope="col">No</th>
                  <th scope="col">Name</th>
                   <th scope="col">Email</th>
                  <th scope="col">PhoneNumber</th>                 
                </tr>
              </thead>
              <tbody>
                   <!-- {{#each users}} -->
                   <!-- users -->
                <tr class="table-active">
                  <td class="table-dark">
                      <!-- {{inc @index}} -->
                        index
                  </td>
                  <td class="table-light">
                      <!-- {{this.name}} -->
                      name
                    </td>
                  <td class="table-dark">
                      <!-- {{this.email}} -->
                      email
                    </td>
                   <td class="table-light">
                       <!-- {{this.phoneNumber}} -->
                       8594047402
                    </td>            
                </tr>
                <!-- {{/each}} -->
               
              </tbody>
            </table>
            </div>
    </div>
</div>